{
  "env": {
    "es6": true,
    "node": true,
    "browser" : true,
    "webextensions": true
  },

  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react",
    "standard"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
