{
  "env": {
    "es6": true,
    "node" : true,
    "browser" : true,
    "webextensions": true
  },
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [ "eslint:all", "plugin:react/recommended" ],
  "rules": {
    "array-bracket-newline": ["error", { "multiline": true }],
    "array-element-newline": "off",
    "arrow-body-style": "off",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "capitalized-comments": "off",
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "default-case": "off",
    "dot-location": ["error", "property"],
    "function-paren-newline": "off",
    "id-length": "off",
    "indent": ["error", 2],
    "jsx-quotes": ["error", "prefer-single"],
    "max-params": ["error", 5],
    "max-statements": ["error", 15],
    "multiline-comment-style": "off",
    "multiline-ternary": "off",
    "newline-after-var": "off",
    "newline-before-return": "off",
    "newline-per-chained-call": "off",
    "no-alert": "off",
    "no-bitwise": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-empty-function": "off",
    "no-magic-numbers": "off",
    "no-mixed-operators": "off",
    "no-plusplus": "off",
    "no-ternary": "off",
    "no-undefined": "off",
    "no-undef-init": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "h" }],
    "no-use-before-define": "off",
    "no-warning-comments": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "object-curly-spacing": ["error", "always", { "arraysInObjects": false, "objectsInObjects": false }],
    "object-property-newline": ["error", { "allowMultiplePropertiesPerLine": true }],
    "object-shorthand": "off",
    "one-var": "off",
    "padded-blocks": "off",
    "prefer-const": "off",
    "prefer-destructuring": ["error", { "AssignmentExpression": {"array": false}}],
    "prefer-template": "off",
    "quote-props": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "require-jsdoc": "off",
    "sort-imports": "off",
    "sort-keys": "off",
    "sort-vars": "off",
    "space-before-function-paren": ["error", "never"],

    "react/jsx-indent": ["error", 2],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off"
  }
}
