{
  "env": {
    "es6": true,
    "node" : true,
    "browser" : true,
    "webextensions": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [ "eslint:recommended" ],
  "rules": {
    "arrow-body-style": "off",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "id-length": "off",
    "indent": ["error", 2],
    "newline-after-var": "off",
    "newline-before-return": "off",
    "multiline-ternary": "off",
    "max-statements": ["error", 15],
    "no-console": "off",
    "no-param-reassign": "off",
    "no-ternary": "off",
    "object-curly-spacing": [
      "error",
      "always", { "arraysInObjects": false, "objectsInObjects": false }
    ],
    "object-curly-newline": "off",
    "object-property-newline": "off",
    "object-shorthand": "off",
    "padded-blocks": "off",
    "prefer-template": "off",
    "quote-props": ["error", "as-needed"],
    "require-jsdoc": "off",
    "sort-imports": "off",
    "sort-keys": "off",
    "sort-vars": "off",
    "space-before-function-paren": ["error", "never"]
  }
}
