$completion-title-background: lightgray;
$completion-title-foreground: #000000;
$completion-item-background: #ffffff;
$completion-item-foreground: #000000;
$completion-item-description-foreground: #008000;
$completion-selected-background: #ffff00;
$completion-selected-foreground: #000000;
$command-background: #ffffff;
$command-foreground: #000000;
$console-error-background: #ff0000;
$console-error-foreground: #ffffff;
$console-info-background: #ffffff;
$console-info-foreground: #018786;

html, body, * {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.vimvixen-console {
  bottom: 0;
  margin: 0;
  padding: 0;

  @mixin console-font {
    font-style: normal;
    font-family: monospace;
    font-size: 12px;
    line-height: 16px;
  }

  &-command-wrapper {
    border-top: 1px solid gray;
  }

  &-completion {
    @include console-font;

    &-title {
      background-color: $completion-title-background;
      color: $completion-title-foreground;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    &-item {
      background-color: $completion-item-background;
      color: $completion-item-foreground;

      padding-left: 1.5rem;
      background-position: 0 center;
      background-size: contain;
      background-repeat: no-repeat;
      white-space: pre;

      &.vimvixen-completion-selected {
        background-color: $completion-selected-background;
        color: $completion-selected-foreground;
      }

      &-caption {
        display: inline-block;
        width: 40%;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &-url {
        display: inline-block;
        color: $completion-item-description-foreground;
        width: 60%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &-message {
    @include console-font;

    border-top: 1px solid gray;
  }

  &-error {
    background-color: $console-error-background;
    color: $console-error-foreground;
    font-weight: bold;
  }

  &-info {
    background-color: $console-info-background;
    color: $console-info-foreground;
    font-weight: normal;
  }

  &-command {
    background-color: $command-background;
    color: $command-foreground;
    display: flex;

    &-prompt {
      @include console-font;
    }

    &-input {
      border: none;
      flex-grow: 1;
      background-color: $command-background;
      color: $command-foreground;

      @include console-font;
    }
  }
}
