.vimvixen-footerline {
  border-top: 1px solid gray;
  bottom: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 12px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
}

.vimvixen-footerline-title {
  background-color: lightgray;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.vimvixen-footerline-container-outer {
  background-color: white;
  position: relative;
}

.vimvixen-footerline-container-outer:before {
  content: ':';
  background-color: white;
  float: left;
  text-align: right;
  width: 12px;
}

.vimvixen-footerline-container-inner {
  position: absolute;
  left: 12px;
  right: 0;
}

.vimvixen-footerline-input {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
}
